<form action='/<%= @file %>/edit' method='post'>
	<label for='new_content'>Edit content of <%= @file %>:</label>
	<div>
		<textarea rows='30' cols='200' name='new_content'><%= @content %></textarea>
	</div>
	<button type='submit'>Save Changes</button>
</form>
