<ul>
	<% @files.each do |file| %>
		<form action='/<%= file %>/delete' method='post'>
			<li>
				<a href='/<%= file %>'><%= file %></a> 
				<a href='/<%=file%>/edit'>edit</a>
				<button>Delete</button>
			</li>
		</form>
	<% end %>
</ul>
<a href='/new'>Create new document</a>
<form action='/signout' method='post'>
	<em>Signed in as admin</em> <button type='submit'>Signout</button>
</form>
