<label for='new_document'>Enter name of new document:</label>
<form action='/new' method='post' name='new_document'>
	<input type='text' name='new_doc' placeholder='file name' value=<%= @value %>>
	<button type='sumbit'>Submit</button>
</form>
