<% # file_viewer.erb %>

<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <h2>Contents of <%= @title %>:</h2>
    <p><%= @contents %></p>
    <p>
      Back to Home:
      <a href="/">Ascending</a>
      <a href="/descending">Descending</a>
    </p>
  </body>
</html>
850-283-7138
