<h3>Sign In Page</h3>
<form action'/sign_in' method='post'>
	<label for='username'>Username
		<input type='text' name='username' value=<%= @user %>>
	</label>
	<label for='password'>Password
		<input type='text' name='password' value=<%= @pw %>>
	</label>
	<button type='submit'>Submit</button>
</form>
