/* app.css */
/* fixed design and responsive blend */
/* ====================
 * Table Of Contents
 * 1. Global Properties
 * 2. Nav Section Properties
 * 3. Main Section Properties
 * 4. Misc Class/ID Properties
 * 5. input:checked Properties
 * 6. Media Queries
 * ==================== */
/* ====================
 * 1. Global Properties
 * ==================== */
body, html {
  height: 100%;
  font-size: 16px; }

body {
  font-family: helvetica;
  max-width: 1200px;
  width: 100%; }

nav, main, input, form, fieldset, li, ul, dt, dd, dl, header, section, div, textarea {
  box-sizing: border-box; }

h1 {
  font-size: 21px; }

h2 {
  font-size: 18px;
  color: #fff; }

dd, dt {
  display: inline-block; }

dt {
  width: 110px;
  color: #333;
  height: 36px;
  line-height: 36px; }

dd {
  width: 393px;
  vertical-align: top; }
  dd input, dd textarea, dd select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #b3b3b3; }
  dd input, dd select {
    height: 36px; }

button {
  width: 186px;
  height: 36px;
  background: #148fd5;
  border: 1px solid #148fd5;
  border-radius: 5px;
  font-size: 1rem;
  color: #d3e5f4;
  cursor: pointer; }
  button:first-of-type {
    margin-right: 18px; }
  button:hover {
    opacity: 0.9; }
  button:active {
    border: 2px solid #bbb; }
  button:focus {
    outline: none; }

dl {
  margin-bottom: 25px; }

textarea {
  resize: none;
  height: 144px; }

/* ====================
 * 2. Nav Section Properties
 * ==================== */
nav {
  width: 335px;
  background: #464f77;
  height: 100%;
  display: inline-block;
  position: absolute;
  padding-top: 70px; }
  nav section {
    height: 26px;
    line-height: 26px;
    margin-bottom: 10px;
    padding-left: 100px; }
    nav section + ul {
      margin-bottom: 70px; }
    nav section img {
      margin-right: 10px; }
  nav h2 {
    width: 142px;
    display: inline-block;
    vertical-align: top; }

.nav-list {
  padding: 14px 32px 14px 135px;
  height: 40px; }
  .nav-list li {
    color: #fff;
    display: inline-block; }
    .nav-list li:first-of-type {
      width: 145px; }

.list-selected {
  background: #383f5f; }

.completed li {
  text-decoration: line-through;
  color: grey; }

/* ====================
 * 3. Main Section Properties
 * ==================== */
main {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: 335px;
  padding: 70px 435px 0 22px; }
  main header {
    height: 21px;
    line-height: 21px;
    margin-bottom: 30px; }
  main h1 {
    display: inline-block;
    margin-right: 20px;
    padding-left: 8px;}

.add-todo li, .list-items li {
  display: inline-block;
  padding: 15px 0; }
.add-todo label, .list-items label {
  cursor: pointer; }
  .add-todo label:hover, .list-items label:hover {
    color: #4ba1db; }

.main-list > li {
  max-width: 750px;
  width: 100%;
  border-bottom: 1px solid #e7e7e7; }
  .main-list > li ul {
    padding: 0; }
  .main-list > li:first-of-type {
    color: #4ba1db; }
  .main-list > li:last-of-type {
    border-bottom: none; }

.list-items li {
  width: 100%; }
  .list-items li input[type='checkbox'] {
    display: none; }
  .list-items li .checkbox {
    margin: 0 10px;
    background: url("images/small_box.png") no-repeat;
    display: inline-block;
    height: 14px;
    width: 14px; }
  .list-items li a {
    float: right; }

.plus {
  margin: 0 10px;
  background: url("images/plus_cc.png") no-repeat;
  display: inline-block;
  height: 14px;
  width: 14px; }

form {
  display: none;
  position: absolute;
  top: 105px;
  left: 439px;
  cursor: auto; }
  form fieldset {
    background: #fff;
    width: 575px;
    height: 400px;
    padding-left: 32px;
    padding-top: 40px;
    padding-bottom: 40px; }
  form span {
    display: inline-block;
    text-align: center;
    width: 22px; }

.form-bkgnd {
  display: none;
  background: rgba(100, 100, 100, 0.7);
  position: absolute;
  top: 0;
  left: 335px;
  bottom: 0;
  right: 0; }

.date-input {
  width: 116px; }

/* ====================
 * 4. Misc Class/ID Properties
 * ==================== */
.menu {
  z-index: 1;
  position: absolute;
  left: 32px;
  top: 14px;
  display: none;
  cursor: pointer; }
  .menu span {
    height: 32px;
    width: 32px;
    display: inline-block;
    background: url("images/hamburger.png") no-repeat; }

.todo-count {
  color: white;
  border-radius: 8px;
  padding: 0 4px;
  font-size: 0.8rem;
  vertical-align: top;
  background: grey; }

.todo-selected {
  background: #148fd5; }

.todo-row-selected {
  background: #383f5f; }

/* ====================
 * 5. input:checked Properties
 * ==================== */
#display_nav:checked ~ label {
  left: 367px; }
#display_nav:checked ~ nav {
  display: inline-block;
  width: 335px; }
#display_nav:checked ~ main {
  margin-left: 335px;
  padding-right: 435px; }
  #display_nav:checked ~ main .form-bkgnd {
    left: 335px; }

.item-check:checked + .checkbox {
  background: url("images/small_box_checked.png"); }
.item-check:checked ~ label span {
  color: grey;
  text-decoration: line-through; }
.item-form:checked ~ label:hover {
    color: black; }
.item-form:checked ~ label .form-bkgnd {
  display: block; }
.item-form:checked ~ form {
  display: block; }

/* ====================
 * 6. Media Queries
 * ==================== */
@media screen and (max-width: 768px) {
  main {
    margin-left: 0;
    padding-right: 100px; }

  .menu {
    display: block; }

  nav {
    display: none; }

  form {
    left: 105px; }

  .item-form:checked ~ label .form-bkgnd {
    left: 0; } }

/*# sourceMappingURL=index7.css.map */
